@model Domain.Entities.Book

<div class="card">
    <div>
        <h4>@Model.Name - @Model.Author </h4>
        <p>@Model.Description</p>
    </div>
    <div class="">
        <h5>@Model.Price.ToString("# $")</h5>
    </div>
    <div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.HiddenFor(x=>x.BookId)
            @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
            <input type="submit" class="btn" value="Add to cart"/>
        }
    </div>
</div>
<hr />