@model PagedList.IPagedList<Medicine.Models.Pacients.Pacient>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pacient List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col l6 m6 s6">
                <a class="btn buttonsColor" href="@Url.Action("AdminPanel","Home")"><i class="material-icons medium left">reply</i>Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">

                @if (Model.Count > 0)
                {
                    <table class="responsive-table bordered">
                        <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Sername
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    Unique number
                                </th>
                                <th>
                                    Birthday
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Email
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        <img src="@item.Picture" class="avatarPicture" alt="" />
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Surname)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Sex)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.UniqueNumber)
                                    </th>
                                    @{
                                        string birthday = item.Birthday.ToShortDateString();

                                    }
                                    <th>
                                        @Html.DisplayFor(model => birthday)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Age)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Mobile)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(model => item.Email)
                                    </th>
                                    <th>
                                        <a class="btn iconClass iconDelete " href="@Url.Action("DeletePacient", new { id = item.PacientId})"><i class="material-icons left">delete_forever</i></a>
                                    </th>
                                </tr>
                                        }
                        </tbody>
                    </table>
                                        }
                                        else
                                        {
                                            <h4 class="center">
                                                Hasn't been added any record
                                            </h4>
                                        }

            </div>
        </div>

        @if(Model.Count > 15)
        {
        <div class="center">
            @Html.PagedListPager(Model, page => Url.Action("PacientList", new { page }))
        </div>
        }
     
    </div>
</div>
