<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/admcss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <section>
                <div class="menu">
                    @Html.Partial("_LoginPartial")
                    <h2>AdminPanel</h2>

                </div>


                <div class="main">
                    @RenderBody()
                </div>

                <div class="aside"></div>
                <div class="footer"></div>
            </section>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
</body>
</html>
